<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.ShopMemberMapper">
    
    <resultMap type="ShopMember" id="ShopMemberResult">
        <result property="memberId"    column="member_id"    />
        <result property="memberNo"    column="member_no"    />
        <result property="memberName"    column="member_name"    />
        <result property="phone"    column="phone"    />
        <result property="email"    column="email"    />
        <result property="sex"    column="sex"    />
        <result property="birthday"    column="birthday"    />
        <result property="points"    column="points"    />
        <result property="balance"    column="balance"    />
        <result property="level"    column="level"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectShopMemberVo">
        select member_id, member_no, member_name, phone, email, sex, birthday, points, balance, level, status, del_flag, create_by, create_time, update_by, update_time, remark from shop_member
    </sql>

    <select id="selectShopMemberList" parameterType="ShopMember" resultMap="ShopMemberResult">
        <include refid="selectShopMemberVo"/>
        <where>  
            <if test="memberNo != null  and memberNo != ''"> and member_no = #{memberNo}</if>
            <if test="memberName != null  and memberName != ''"> and member_name like concat('%', #{memberName}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="birthday != null "> and birthday = #{birthday}</if>
            <if test="points != null "> and points = #{points}</if>
            <if test="balance != null "> and balance = #{balance}</if>
            <if test="level != null  and level != ''"> and level = #{level}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectShopMemberByMemberId" parameterType="Long" resultMap="ShopMemberResult">
        <include refid="selectShopMemberVo"/>
        where member_id = #{memberId}
    </select>

    <insert id="insertShopMember" parameterType="ShopMember" useGeneratedKeys="true" keyProperty="memberId">
        insert into shop_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberNo != null and memberNo != ''">member_no,</if>
            <if test="memberName != null and memberName != ''">member_name,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="sex != null">sex,</if>
            <if test="birthday != null">birthday,</if>
            <if test="points != null">points,</if>
            <if test="balance != null">balance,</if>
            <if test="level != null">level,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="memberNo != null and memberNo != ''">#{memberNo},</if>
            <if test="memberName != null and memberName != ''">#{memberName},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="sex != null">#{sex},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="points != null">#{points},</if>
            <if test="balance != null">#{balance},</if>
            <if test="level != null">#{level},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateShopMember" parameterType="ShopMember">
        update shop_member
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberNo != null and memberNo != ''">member_no = #{memberNo},</if>
            <if test="memberName != null and memberName != ''">member_name = #{memberName},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="points != null">points = #{points},</if>
            <if test="balance != null">balance = #{balance},</if>
            <if test="level != null">level = #{level},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where member_id = #{memberId}
    </update>

    <delete id="deleteShopMemberByMemberId" parameterType="Long">
        delete from shop_member where member_id = #{memberId}
    </delete>

    <delete id="deleteShopMemberByMemberIds" parameterType="String">
        delete from shop_member where member_id in 
        <foreach item="memberId" collection="array" open="(" separator="," close=")">
            #{memberId}
        </foreach>
    </delete>
</mapper>